/* || VARIAVEIS*/
:root {
    --logo-size: 30vw;
    --gradient-width: 30px;
}

/* || GERAL */
* {
  font-family: 'Antonio', sans-serif;
  user-select: none
}

body {
    background-image: url("/img/bg.png");
    background-size: cover;
    margin: 0;
    background-color: #000;

    height: 100vh;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* || HEADER */

.logo-bg { /* Container e Gradient da logo */
    background-image: radial-gradient(circle closest-side ,#fff, #fff, #ffffff00);
    margin: 10% auto 0 auto;
    width: calc(var(--logo-size) + var(--gradient-width)); /* Tamanho da logo + grossura do gradiente para o efeito aparecer por trás */
    height: calc(var(--logo-size) + var(--gradient-width));/* Tamanho da logo + grossura do gradiente para o efeito aparecer por trás */
}

img {
    margin: calc(var(--gradient-width) / 2) 0 0 0;
    width: var(--logo-size);
    clip-path: circle(calc(var(--logo-size) / 2) at center);
}

h1 {
    font-size: 9vw;
    color: #fff;
    margin: 8% auto;
}

/* || AREA PRINCIPAL, BOTÕES*/

button { /* Botões de link da tela principal*/
    width: 80%;
    height: 10vw;
    background-color: #00000000;
    border-radius: 50px;
    border: 7px solid #fff;
    box-shadow: 0 0 15px #fff;
    margin: 0px auto 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a {/* Decoração do Texto do botão*/
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
    text-decoration: none;
}

/* || FOOTER, INSTAGRAM */

footer a {
    font-family: Arial;
    position: absolute;
    bottom: 3%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 5vw;
    left: calc(50% - 22vw);
    text-decoration: none;
}