* {
    font-family: 'Antonio', sans-serif;
    user-select: none;
    text-transform: uppercase;
}

body {
    background-color: #000;
    background-image: url("../resources/bg.png");
    background-size: cover;
}

#brand-logo {
    width: 240px;
}

h2 {
    color: #000;
}

main {
    box-shadow:
        /* Top */
        inset -10px 5px 10px 0px #0003,
        /* Bottom */
        inset 0px -10px 10px 0px #fffe,
        /* Left */
        inset 10px 10px 10px 0px #fffe,
        /* Right */
        inset -10px 0px 10px -10px #0003;

    background-color: #ecf0f3;
    border-radius: 40px;
    padding: 20px 30px 40px;
    max-width: 250px;
}

label {
    font-size: 1rem;
}

input {
    font-size: 1rem;
    border-style: none;
}

button {
    min-width: 120px;
    border-radius: 50px;
    border-style: none;
    background-color: #ecf0f3;
    color: #009b9e;
    font-size: larger;
    padding: 10px 0;
    
    box-shadow:
        /* Top */
        inset -2px 2px 2px 0px #0002,
        /* Bottom */
        inset 0px -2px 2px 0px #fffe,
        /* Left */
        inset 2px 2px 2px 0px #0002,
        /* Right */
        inset -2px 0px 2px -2px #fffe;
}

button:hover {
    box-shadow:
        /* Top */
        inset -3px 3px 3px 0px #fffe,
        /* Bottom */
        inset 0px -3px 3px 0px #0003,
        /* Left */
        inset 3px 3px 3px 0px #fffe,
        /* Right */
        inset -3px 0px 3px -3px #0003;
}

button:active {
    box-shadow:
        /* Top */
        inset -3px 3px 3px 0px #0003,
        /* Bottom */
        inset 0px -3px 3px 0px #fffe,
        /* Left */
        inset 3px 3px 3px 0px #0003,
        /* Right */
        inset -3px 0px 3px -3px #fffe;
}

a {
    font-size: smaller;
    text-decoration: none;

    color: #8f8f8f;
}

a:hover {
    color: #125bf7;
}

a:active {
    color: #0e3079;
}