* {
    font-family: 'Antonio', sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
    user-select: none
}

body {
    background-color: #000;
    background-image: url("../img/bg.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
}

#brand-logo {
    width: 300px;
    margin: 50px auto 0;
}

main {
    box-shadow: 
    inset -10px 10px 10px 0px #fffe, /* Top */
    inset 0px -10px 10px 0px #0003, /* Bottom */
    inset 10px 0px 10px 0px #0003, /* Left */
    inset -10px 0px 10px 0px #fffe; /* Right */
    
    background-color: #ebf7ff;
    border-radius: 40px;
    padding: 20px 30px 40px;
    margin: 50px auto;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 { /* Titulo da Janela */
  font-size: 25px;
  margin: 20px;
}

/*  ||  PROFILE STYLE  ||  */

form {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 100%;
}

label {
  margin: 5px 0 5px;
  font-weight: lighter;
}

input {
  border-radius: 4px;
  padding: 0px 5px;
  border: 2px solid #c5d8e0;
  margin-bottom: 10px;
}

button {
  width: 120px;
  height: 40px;
  margin: 5px auto 0;

  font-size: 20px;

  border-radius: 50px;
  border: 2px outset;
}

button:hover {
  border: 2px inset;
}

a {
  margin: 10px 0 0px;
  font-size: 14px;
  text-decoration: none;

  color: #125bf7;
}

a:hover {
  color: #6b90df;
}

a:active {
  color: #0e3079;
}