* {
    font-family: 'Antonio', sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
    user-select: none
}

body {
    background-color: #000;
    background-image: url("../img/bg.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
}

#brand-logo {
    width: 300px;
    margin: 50px auto 0;
}

main {
    box-shadow: 
    inset -10px 10px 10px 0px #fffe, /* Top */
    inset 0px -10px 10px 0px #0003, /* Bottom */
    inset 10px 0px 10px 0px #0003, /* Left */
    inset -10px 0px 10px 0px #fffe; /* Right */
    
    background-color: #ebf7ff;
    border-radius: 40px;
    padding: 0px 40px;
    margin: 50px auto;
    width: 300px;


    display: flex;
    flex-direction: column;
    align-items: center;
}




/*  ||  PROFILE STYLE  ||  */
.profile {
    display: flex;
    flex-direction: row;

    margin-bottom: 30px;
}

h1 { /* Titulo da Janela */
    font-size: 25px;
    margin: 40px;
}

.profile-img {
    width: 50px;
    clip-path: circle(calc(50px / 2) at center);
    margin-right: 10px;
}

.profile-description {
    width: 100%;
    text-align: left;
}

h2 { /* nome do perfil */
    font-size: 15px;
}

p { /* Descrição do acesso do perfil*/
    color: #919191;
    font-size: 12px;
    margin: 5px;
}