* {
  font-family: 'Antonio', sans-serif;
  user-select: none;
  margin: 0px;
  border: 0px;
  padding: 0px;
  text-transform: uppercase;
}

body {
  background-color: #ECF0F3;
  background-size: cover;
  
  padding: 40px 40px 40px;
  width: 300px;
  margin: 0 auto;
}

main {
}

/*  ||  PROFILE STYLE  ||  */

h1 { /* Nome do trabalhador */
  font-size: 35px;
}

p { /* Função do funcionario */
  font-size: 20px;
  color: #989899;
}

.link-container {
  display: flex;
  height: 64px;
  margin: 20px 0;
}

.link-img {
  clip-path: circle( 24px at center);
  width: 48px;
  height: 48px;

  margin: auto 0;
}

a, h1 {
  color: #000;
  font-size: 25px;
  text-decoration: none;

  width: 100%;
  border-top: 2px solid #0000;
  border-bottom: 2px solid #999;
  padding: 15px 0;
  margin: auto 10px;
}

a:hover {
  color: #15c;
}

/* Cadastrar Clientes */
input {
  width: 100%;
  margin: 5px 0;
}

h2 {
  font-size: 20px;
}

.title {
  text-align: center;
  margin: 20px 0;
}

/* Fluxo de caixa */

.total-price {
  border-top: #999 dotted 2px;
}