/* || VARIAVEIS*/
:root {
    --logo-size: 70vw;
    --worker-pic-size: 30vw;
}

/* ||  GERAL */

* {
  font-family: 'Antonio', sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
  user-select: none
}

body {
    background-color: #000;
    background-image: url("/img/bg.png");
    background-size: cover;
    height: 100vh;

    text-align: center;
}

/* ||  UTILITIES */

.hidden {
    display: none !important;
}

#appointment-window, .selected-worker { /* Remover o Filtro de blur dos elementos com essas classes e ID */
  z-index: 10;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  pointer-events: none;
  z-index: 0;
}

/* || HEADER */

header {
    display: flex;
    flex-direction: column;
}

#brand-logo {
    width: var(--logo-size);
    margin: calc(var(--logo-size) / 6) auto 3%;
}

header h3 { /* Slogan */
    font-size: 5vw;
    color: #fff;
    font-weight: 100;
    margin: 3% auto 3%;

}

header h1 { /* Agendamento */
    font-size: 6vw;
    color: #fff;
    margin: 3% auto 3%;
}


/* || SELECIONAR TRABALHADOR */

.select-worker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.worker-img {
    margin: 3% 2vw 5%;
    width: var(--worker-pic-size);
    clip-path: circle(calc(var(--worker-pic-size) / 2) at center);
    pointer-events: none;
}

h2 { /* Nome do Profissional */
    color: #fff;
    font-weight: bold;
    font-size: 4vw;
}

.links-container {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
}

button { /* Botões de link da tela principal*/
    width: 50%;
    height: 10vw;
    background-color: #00000000;
    border-radius: 50px;
    border: 7px solid #fff;
    box-shadow: 0 0 15px #fff;
    margin: 0 auto 3% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link {/* Decoração do Texto do botão*/
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
    text-decoration: none;
}

/* || FOOTER AND LINKS */

footer {
    display: flex;
    justify-content: center;
    font-size: 7vw;
    margin: 1%;
}

footer .fa {
    color: #fff;
    text-decoration: none;
    margin: 0px 1%;
}


/* || AGENDAMENTO */