/* || VARIAVEIS*/
:root {
    --logo-size: 70vw;
    --worker-pic-size: 30vw;
}

/* ||  GERAL */

* {
  font-family: 'Antonio', sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
  user-select: none
}

body {
    background-color: #000;
    /* background-image: url("/img/bg.png"); */
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;

    text-align: center;
}

/* ||  UTILITIES */

.hidden {
    display: none !important;
}

#appointment-window, .selected-worker { /* Remover o Filtro de blur dos elementos com essas classes e ID */
  z-index: 10;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  pointer-events: none;
  z-index: 0;
}

/* || HEADER */

header {
    display: flex;
    flex-direction: column;
}

#brand-logo {
    width: var(--logo-size);
    margin: calc(var(--logo-size) / 6) auto 3%;
}

header h3 { /* Slogan */
    font-size: 5vw;
    color: #fff;
    font-weight: 100;
    margin: 3% auto 3%;

}

header h1 { /* Agendamento */
    font-size: 6vw;
    color: #fff;
    margin: 3% auto 3%;
}


/* || SELECIONAR TRABALHADOR */

.select-worker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.worker-img {
    margin: 3% 2vw 5%;
    width: var(--worker-pic-size);
    clip-path: circle(calc(var(--worker-pic-size) / 2) at center);
    pointer-events: none;
}

h2 { /* Nome do Profissional */
    color: #fff;
    font-weight: bold;
    font-size: 4vw;
}

.links-container {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container button { /* Botões de link da tela principal*/
    width: 50%;
    height: 10vw;
    background-color: #00000000;
    border-radius: 50px;
    border: 7px solid #fff;
    box-shadow: 0 0 15px #fff;
    margin: 0 auto 3% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link {/* Decoração do Texto do botão*/
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
    text-decoration: none;
    width: 100%;
}

/* || FOOTER AND LINKS */
footer .fa {
    font-size: 7vw;
    margin: 3% 0 15%;
    color: #fff;
    text-decoration: none;
    margin: 4% 1% 8%;
}


/* || AGENDAMENTO */



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    body{
        background-color: #800;
    }

    /* || HEADER */

    #brand-logo {
        width: 300px;
        margin: calc(300px / 6) auto 3%;
    }

    header h3 { /* Slogan */
        font-size: 5vw;
        margin: 3% auto 3%;

    }

    header h1 { /* Agendamento */
        font-size: 6vw;
        margin: 3% auto 3%;
    }


    /* || SELECIONAR TRABALHADOR */

    .worker-img {
        margin: 3% 2vw 5%;
        width: var(--worker-pic-size);
        clip-path: circle(calc(var(--worker-pic-size) / 2) at center);
    }

    h2 { /* Nome do Profissional */
        font-size: 4vw;
    }

    .links-container {
        margin-top: 6%;
    }

    .links-container button { /* Botões de link da tela principal*/
        width: 50%;
        height: 10vw;
        border: 7px solid #fff;
        margin: 0 auto 3% auto;
    }

    .button-link {/* Decoração do Texto do botão*/
        font-size: 5vw;
        text-decoration: none;
    }

    /* || FOOTER AND LINKS */
    footer .fa {
        font-size: 7vw;
        margin: 3% 0 15%;
        margin: 4% 1% 8%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body{
        background-color: #080;
    }

    /* || HEADER */

    #brand-logo {
        width: 300px;
        margin: calc(300px / 6) auto 3%;
    }

    header h3 { /* Slogan */
        font-size: 5vw;
        margin: 3% auto 2%;

    }

    header h1 { /* Agendamento */
        font-size: 6vw;
        margin: 2% auto 3%;
    }


    /* || SELECIONAR TRABALHADOR */

    .worker-img {
        margin: 3% 2vw 4%;
        width: 220px;
        clip-path: circle(calc(220px / 2) at center);
    }

    h2 { /* Nome do Profissional */
        font-size: 4vw;
    }

    .links-container {
        margin-top: 6%;
    }

    .links-container button { /* Botões de link da tela principal*/
        width: 50%;
        height: 8vw;
        border: 7px solid #fff;
        margin: 0 auto 2% auto;
    }

    .button-link {/* Decoração do Texto do botão*/
        font-size: 4vw;
        text-decoration: none;
    }

    /* || FOOTER AND LINKS */
    footer .fa {
        font-size: 7vw;
        margin: 3% 0 15%;
        margin: 4% 1% 8%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body{
        background-color: #008;
    }

    /* || HEADER */

    #brand-logo {
        width: 260px;
        margin: 40px auto 15px;
    }

    header h3 { /* Slogan */
        font-size: 30px;
        margin: 15px auto 10px;
    }

    header h1 { /* Agendamento */
        font-size: 30px;
        margin: 10px auto 15px;
    }


    /* || SELECIONAR TRABALHADOR */

    .worker-img {
        margin: 10px 20px 10px;
        width: 160px;
        clip-path: circle(calc(160px / 2) at center);
    }

    h2 { /* Nome do Profissional */
        font-size: 20px;
    }

    .links-container {
        margin-top: 20px;
    }

    .links-container button { /* Botões de link da tela principal*/
        width: 300px;
        height: 50px;
        border-radius: 50px;
        border: 5px solid #fff;
        box-shadow: 0 0 7px #fff;
        margin: 0 10px 10px 10px;
    }

    .button-link {/* Decoração do Texto do botão*/
        font-size: 25px;
    }

    /* || FOOTER AND LINKS */
    footer .fa {
        font-size: 35px;
        margin: 10px 5px 30px;
        text-decoration: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    body{
        background-color: #880;
    }

    /* || HEADER */

    #brand-logo {
        width: 220px;
        margin: 40px auto 15px;
    }

    header h3 { /* Slogan */
        font-size: 30px;
        margin: 15px auto 10px;
    }

    header h1 { /* Agendamento */
        font-size: 30px;
        margin: 10px auto 15px;
    }


    /* || SELECIONAR TRABALHADOR */

    .worker-img {
        margin: 10px 20px 10px;
        width: 100px;
        clip-path: circle(calc(100px / 2) at center);
    }

    h2 { /* Nome do Profissional */
        font-size: 20px;    
    }

    .links-container {
        margin-top: 20px;
    }

    .links-container  button { /* Botões de link da tela principal*/
        width: 240px;
        height: 40px;
        border-radius: 50px;
        border: 5px solid #fff;
        box-shadow: 0 0 7px #fff;
        margin: 0 10px 10px 10px;
    }

    .button-link {/* Decoração do Texto do botão*/
        font-size: 20px;
    }

    /* || FOOTER AND LINKS */
    footer .fa {
        font-size: 35px;
        margin: 10px 5px 30px;
        text-decoration: none;
    }
}