:root {
    --client-img-size: 10vw;
}

.calendar-title {
    border-bottom: 2px solid rgb(85, 85, 85);
    color: #000;
    font-size: 4vw;
    font-weight: bold;
    padding: 3%;
    text-align: center;
    margin-bottom: 5px;
}

/* || AGENDAMENTO */

#appointment-window {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%);
    background-color: #fff;
    border-radius: 3vw;
    width: 70vw;
    height: 40vw;
}

/* Calendario */

#calendar-table {
    width: 100%;
    height: 100%;
    font-weight: bold;
    padding-bottom: 10px;
}

#calendar-table th {
    font-size: 3vw;
    color: rgb(104, 104, 104);
}

#calendar-table td {
    font-size: 3vw;
    color: #000;
}

#calendar-table td:first-child, #calendar-table td:last-child{ /* Alterado Sabado e Domingo para Vermelho*/
    color: #f00;
}

/* INFORMAÇÕES DO CLIENTE */
#client-info-window {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
}

#client-info-window h3 {
    text-align: center;
    font-size: 3vw;
    color: #000;
    font-weight: bold;
    margin-bottom: 3%;
}

#client-info-window input {
    background-color: #f7f7f7;
    font-size: 2.8vw;
    padding-left: 4%;
    margin: 1% 4%;
}

input[type=number] {
    appearance: textfield;
}


/* Horarios disponiveis */

#schedule-window p {
    font-size: 3vw;
    margin: 2%;
}

#schedule-window span {
    font-size: 3vw;
}

#available-schedule-table table{
  margin: 0 auto;
}

#available-schedule-table td, #available-schedule-table span { /* Formatação do texto e horario */
  padding: 2px 5px;
  min-width: 10px;
}


/* Botões indisponiveis */

.unavailable input {
    pointer-events: none;
    opacity:0.2;
}
  
.unavailable span {
    color: #f00;
}

/* Lista de Serviços e Produtos */

#service-window {
    height: 100%;
}

.service-container {
    overflow-x: scroll;
    height: 40%;
    width: 100%;
}

.service-container table {
    padding: 0 5%;
}

#service-window p {
    font-size: 3vw;
}

#service-window td {
    font-size: 3vw;
}

/* Resumo das Informações */
#overview-window {
  margin: 5% 10%;
}

#client-info-overview {
  display: flex;    
  text-align: left;
}

.client-img {
  margin: 0px 10px 0px 0px;
  width: var(--client-img-size);
  height: var(--client-img-size);
  clip-path: circle(calc(var(--client-img-size) / 2) at center);
}

#overview-window table {
    width: 100%;
}

#clint-instagram {
    text-align: right;
}

#overview-window td {
    font-size: 3vw;
}

#overview-window #nome-cliente:first-child {
    font-size: 3vw;
    white-space: nowrap !important;
}

#overview-window h1 {
    font-size: 5vw;
}