/* || JANELA DE AGENDAMENTO */

#appointment-window {
    background-color: #fff;
    border-radius: 8vw;
    width: 70vw;
    height: 50vw;
    margin: 4% auto 4%;
}

.window-container {
    width: 100%;
    height: 100%;
}

#appointment-window button { /* Botão da janela de agendamentos */
    background-color: #fff;
    margin: 4% auto;
    font-size: 3vw;
}

#appointment-window button:hover { /* Botão da janela de agendamentos */
    color: #146df3;
}

/* Calendario */

#calendar-window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar-pick-month-container {
    display: flex;
    flex-direction: row;
}

.hide-arrow {
    color: #fff;
    pointer-events: none;
}

#calendar-table {
    width: 100%;
    height: 100%;
    font-weight: bold;
    padding-bottom: 10px;
}

#calendar-table th {
    font-size: 3vw;
    color: #686868;
}

#calendar-table td {
    font-size: 3vw;
    color: #000;
}

.unavailable-day, #calendar-table td:empty{ /* Alterado Sabado e Domingo para Vermelho, e dias vazios*/
    color: #f00 !important;
    pointer-events: none;
}

.disabled-day{ /* Alterado Sabado e Domingo para Vermelho, e dias vazios*/
    color: #aaa !important;
    pointer-events: none;
}

.selected-day {
    background-color: #146df3;
    border-radius: 15px;
    color: #fff !important;
}

/* INFORMAÇÕES DO CLIENTE */
#client-info-window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#client-info-window h3 { /* Titulo da pagina */
    text-align: center;
    font-size: 3vw;
    color: #000;
    font-weight: bold;
    margin: 3% 0%;
}

#client-info-window input {
    background-color: #f7f7f7;
    text-align: left;
    font-size: 2.8vw;
    padding-left: 4%;
    margin: 1% 4%;
}

input[type=number] {
    appearance: textfield;
}


/* Horarios disponiveis */

/* || TEXT FORMATING */
.calendar-title {
    border-bottom: 2px solid rgb(85, 85, 85);
    color: #000;
    font-size: 4vw;
    font-weight: bold;
    padding: 3%;
    text-align: center;
}

#schedule-window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.schedule-list table {
  width: 93%;
  margin: 10px 7%;
}

.schedule-list p {
  font-size: 4vw;
  padding-right: 10px;
}



.service-container {
  flex-grow: 1;
}



.schedule-list td {  
  display: flex;
  flex-direction: row;

  font-size: 3vw;
}

.schedule-list .selected {
  background-color: #ddd;
}

.unavailable {
    color: #f00;
}

/* || LISTA DE SERVIÇOS E PRODUTOS */

#service-window {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.service-container {
    flex-grow: 1;
}

#service-window table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin: 0 auto;
    padding: 0% 7%;
}

#service-window table td:first-child {
    text-align: left;
}

#service-window table td:last-child {
    text-align: right;
}

#service-window p {
    font-size: 3vw;
    margin: 5px;
}

#service-window td {
    padding-left: 5px;
    font-size: 3vw;
}

#service-window .selected {
    background-color: #ddd;
}

/* || RESUMO, INFORMAÇÕES DO CLIENTE */

#overview-window { /*  Container da janela */
    display: flex;
    flex-direction: column;
    height: 100%;
}

#client-img {
    margin: 0px 10px 0px 0px;
    width: 128;
    height: 8vw;
    clip-path: circle(calc(8vw / 2) at center);
}

.client-info-overview {
    margin-top: 8%;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

#overview-window h3 { /* Nome completo do cliente */
    font-size: 3.5vw;
}

#overview-window p { /* numero e instagram do cliente */
    font-size: 3vw;
    padding-right: 5px;
}

#overview-window h1 { /* data do serviço */
    margin-top: 5%;
    font-size: 4vw;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    body{
        background-color: #800;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body{
        background-color: #080;
    }

    /* || JANELA DE AGENDAMENTO */

    #appointment-window {
        border-radius: 8vw;
        width: 70vw;
        height: 50vw;
        margin: 4% auto 4%;
    }

    /* INFORMAÇÕES DO CLIENTE */

    #client-info-window h3 { /* Titulo da pagina */
        font-size: 3.5vw;
    }

    #client-info-window input {
        font-size: 3vw;
    }

    /* Horarios disponiveis */

    #schedule-window p {
        font-size: 4vw;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body{
        background-color: #008;
    }
    
    /* || JANELA DE AGENDAMENTO */

    #appointment-window {
        border-radius: 30px;
        width: 300px;
        height: 200px;
        margin: 16px auto 16px;
    }

    #appointment-window button { /* Botão da janela de agendamentos */
        margin: 8px auto;
        font-size: 14px;
    }

    /* Calendario */

    #calendar-table th {
        font-size: 12px;
    }

    #calendar-table {
        padding-bottom: 0px;
    }

    #calendar-table td {
        font-size: 12px;
    }

    /* INFORMAÇÕES DO CLIENTE */
    #client-info-window h3 { /* Titulo da pagina */
        font-size: 14px;
        margin: 10px 0;
    }

    #client-info-window input {
        font-size: 14px;
        padding-left: 10px;
        margin: 2px 16px;
    }


    /* Horarios disponiveis */

    /* || TEXT FORMATING */
    .calendar-title {
        font-size: 20px;
        padding: 8px;
    }

    #schedule-window p {
        font-size: 16px;
        margin: 5px;
    }

    #schedule-window span {
        font-size: 14px;
    }

    /* || LISTA DE SERVIÇOS E PRODUTOS */

    #service-window table {
        padding: 0 10px;
    }

    #service-window p {
        font-size: 20px;
        margin: 5px;
    }

    #service-window td {
        padding-left: 5px;
        font-size: 16px;
    }

    /* || RESUMO, INFORMAÇÕES DO CLIENTE */

    #client-img {
        margin: 0px 10px 0px 0px;
        width: 40px;
        height: 40px;
        clip-path: circle(20px at center);
    }

    .client-info-overview {
        margin-top: 10px;
    }

    #overview-window h3 { /* Nome completo do cliente */
        font-size: 20px;
    }

    #overview-window p { /* numero e instagram do cliente */
        font-size: 16px;
        padding-right: 5px;
    }

    #overview-window h1 { /* data do serviço */
        margin-top: 5%;
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    body{
        background-color: #880;
    }
    
    /* || JANELA DE AGENDAMENTO */

    #appointment-window {
        border-radius: 30px;
        width: 350px;
        height: 200px;
        margin: 16px auto 16px;
    }

    #appointment-window button { /* Botão da janela de agendamentos */
        margin: 8px auto;
        font-size: 14px;
    }

    /* Calendario */

    #calendar-table th {
        font-size: 12px;
    }

    #calendar-table {
        padding-bottom: 0px;
    }

    #calendar-table td {
        font-size: 12px;
    }

    /* INFORMAÇÕES DO CLIENTE */
    #client-info-window h3 { /* Titulo da pagina */
        font-size: 14px;
        margin: 10px 0;
    }

    #client-info-window input {
        font-size: 14px;
        padding-left: 10px;
        margin: 2px 16px;
    }


    /* Horarios disponiveis */

/* || TEXT FORMATING */

  .calendar-title {
    font-size: 20px;
    padding: 3%;
  }
    
  .schedule-list table {
    width: 90%;
    margin: 0px auto;
  }
  
  .schedule-list p {
    font-size: 10px;
    padding-right: 5px;
  }
  
  #schedule-window p {
    font-size: 16px;
    margin: 0px;
  }
  
  .schedule-list td {    
    font-size: 10px;
  }

  /* || LISTA DE SERVIÇOS E PRODUTOS */

  #service-window table {
      padding: 0 10px;
  }

  #service-window p {
      font-size: 15px;
      margin: 5px;
  }

  #service-window td {
      padding-left: 5px;
      font-size: 14px;
  }

  /* || RESUMO, INFORMAÇÕES DO CLIENTE */

  #client-img {
      margin: 0px 10px 0px 0px;
      width: 40px;
      height: 40px;
      clip-path: circle(20px at center);
  }

  .client-info-overview {
      margin-top: 10px;
  }

  #overview-window h3 { /* Nome completo do cliente */
      font-size: 20px;
  }

  #overview-window p { /* numero e instagram do cliente */
      font-size: 16px;
      padding-right: 5px;
  }

  #overview-window h1 { /* data do serviço */
      margin-top: 5%;
      font-size: 20px;
  }
}