* {
    font-family: 'Saira Extra Condensed', sans-serif;
}

body {
    background-image: url("/img/bg.jpg");
    background-size: cover;
    margin: 0;
    background-color: #000;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo-bg {
    background-image: radial-gradient(circle closest-side ,#ffffff, #fff, #ffffff00);
    margin: 20px auto 0px auto;
    width: 150px;
    height: 150px;
}

img {
    margin: 15px 0 0px 0;
    width: 120px;
    height: 120px;
    clip-path: circle(60px at center);
}

h1 {
    font-size: 30px;
    color: #fff;
}

a {
    border: 7px solid #fff;
    padding-bottom: 30px;
    color: #fff;
    background-color: #00000000;
    border-radius: 50px;
    height: 15px;
    width: 250px;
    margin: 0px auto 15px auto;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0 0 15px #fff;
}

p {
    font-family: Arial;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    left: calc(50% - 87.5px);
}